<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baccarat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,187}</string>
                <key>spriteSourceSize</key>
                <string>{600,187}</string>
                <key>textureRect</key>
                <string>{{1,1021},{600,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{349,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBetx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{283,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBetx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{19,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBetx3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{217,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBetx4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{85,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBetx5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{415,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBetx6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{151,1},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{397,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{793,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{529,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{661,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{265,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{925,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1189,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_c9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1585,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1321,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_cj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1453,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1057,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_cq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{925,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{265,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{397,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{661,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{529,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1057,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{793,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{925,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{133,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_d9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1189,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1057,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1321,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_dk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{793,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_dq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1453,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{133,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1585,613},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{265,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1405,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1537,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1273,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{133,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_h9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{265,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_ha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1669,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_hj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1009,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_hk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{481,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_hq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{613,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1141,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{877,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{745,1},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{397,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{793,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1585,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{529,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{661,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_sa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{397,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{529,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_sk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{133,409},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_b_sq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1453,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardposition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{661,205},{130,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{925,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1321,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1057,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1189,205},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,202}</string>
                <key>spriteSourceSize</key>
                <string>{130,202}</string>
                <key>textureRect</key>
                <string>{{1,817},{130,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragontiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,187}</string>
                <key>spriteSourceSize</key>
                <string>{600,187}</string>
                <key>textureRect</key>
                <string>{{1205,1021},{600,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1189,817},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,187}</string>
                <key>spriteSourceSize</key>
                <string>{600,187}</string>
                <key>textureRect</key>
                <string>{{603,1021},{600,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playingcards.png</string>
            <key>size</key>
            <string>{1806,1209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d906e1608b87dceea60beca85f5c1544:619dd36471390ab56dbfdff6b05ec270:29c63cbd299cde77cf7413a9a8c46e53$</string>
            <key>textureFileName</key>
            <string>playingcards.png</string>
        </dict>
    </dict>
</plist>
